<div class="pensamento-form-container">
    <h1>Compartilhe um Pensamento!</h1>
    <a href="/painel/painel">Voltar</a>
    <form action="/pensamentos/add" method="post">
        <div class="form-control">
            <label for="title">Pensamento:</label>
            <input type="text" name="title" placeholder="No que está pensando hoje?">
        </div>
        <input type="submit" value="Criar Pensamento">
    </form>
</div>
